<div class="col-sm-6 col-md-5 col-lg-6">
  <%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class: "form-control" %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :body, class: "form-control", rows: 5 %>
  </p>
  <p>
    <%= f.submit "Submit comment", class: "btn btn-primary"%>
  </p>
<% end %>

</div>
