 <div class="container"> 

<div class="page-header">
<h1>ARTICLES LISTING</h1>
 </div>
<!DOCTYPE html>
<html>
<head>
<style>


/*table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }*/

/*td, th {
          border: 1px solid #aaaaaa;
          text-align: left;
          padding: 8px;
       }*/

/*tr:nth-child(odd) {
                    background-color: beige;
                  }*/
</style>
</head>
<body>
<!-- <div class="container"> -->
  <table class="table table-striped">
  <tr>
    <th>Title</th>
    <!-- <th>Text</th> -->
    <th>Summary</th>
    <th>Actions</th>
    
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <!-- <td><%#= article.text %></td> -->
      <td><%= article.summary %></td>
      <td><%= image_tag article.image.url(:thumb) %></td>
      
      <td>
        <%= link_to '', article_path(article), class: "glyphicon glyphicon-book" %> 

        <%= link_to '', edit_article_path(article), class: "glyphicon glyphicon-pencil" %>  
          <%= link_to '', article_path(article), class: "glyphicon glyphicon-trash",
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>

  <% end %>
<%= will_paginate @articles %>
  
</table>




 <table>
   <tr>
     <td>
       
     </td>
   </tr>
   <tr>
     <td>
       
     </td>
   </tr>
 </table>

  <table>
      <tr>
      <td style="padding-right: 600px;">
        <%= 'CLICK ON THE ADJOINING LINK TO UPLOAD YOUR ARTICLE' %>
      </td> 
      <td>
      <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
      </td>
      </tr>
  </table>

</div>
</body>
</html>

