  <h1 style= "color:white; font-style:italic; font-family:fantasy; text-align:center">
   Article<br>
  </h1>
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/articlesbackground1.jpg"); 
             background-size: cover;
             background-repeat: no-repeat;
           } 
  </style>
  </html>


 <div class="container"> 

<!-- <div class="page-header">
<h1 >ARTICLE </h1>
 </div> -->
<!-- <h1>ARTICLE : </h1> -->

<!DOCTYPE html>
<html>
<head>
<style>
  .table{
    background-color: white;
  }

</style>
</head>

<body>
<table class="table">
 <tr>
 <td>
 <p>
   <strong>Title:</strong>
   <%= @article.title %><br>
   <strong>Submitted :</strong>
   <%= time_ago_in_words (@article.created_at) %> ago
 </p>
 </td>
 </tr>
 
 <tr>
 <td>
 <p>
  <strong>Text:</strong><br>
  <%= @article.text %>
 </p>
 </td>
 </tr>

  <tr>
  <td>
  <% if @article.comments != [] %>

      <h4>Comments:</h4>

    <div class="scroll">
      <!-- <h2>Comments:</h2> -->
      <div class="scrollbar" id="style-3", style= "margin-left: 100px;
        float: left;
        height: 300px;
        width: 800px;
        /*background: #F5F5F5;*/
        overflow-y: scroll;
        margin-bottom: 25px;">
      <div class="force-overflow" style="min-height: 450px">
      <style>
        #style-3::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #FFFFFF;
        }

        #style-3::-webkit-scrollbar
        {
          width: 6px;
          background-color: #FFFFFF;
        }

        #style-3::-webkit-scrollbar-thumb
        {
          background-color: #000000;
        }
      </style>
        <%= render @article.comments %>
      </div>
      </div>
      </td>
      </tr>
    </div>
  <% end %>
    
  <tr>

  <td> 
  <h4>Add a Comment:</h4>
  <%= render 'comments/form' %>
  </td>
  </tr>
<!-- <p>
  <!-- <strong>Summary:</strong> -->
  <%#= @article.summary %>
<!-- </p> -->

<tr>
<td> <%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %></td>
</tr>

</table>
</body>